.titulo {
    color: red;
    width: 320px;
    height: 50px;
    background-color: purple;
}

#selecionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon {
    color: greenyellow;
    width: 100px;
    height: 100px;
    background: rebeccapurple;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid red;
}

input {
    display: none;
}