.title {
    color: blueviolet;
    width: 410px;
    height: 50px;
    background-color: skyblue;
}

#parrafo {
    color: red;
}

.titulo{
    width: 90px;
    height: 25px;
    background-color: aquamarine;
}

.parrafo {
    color: purple;
}