body {
    font-family: "Oleo Script", system-ui;
    background-color: #41B3A2;
}

.sction1 {
    background-color: #41B3A2;
}

.container-calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 100%;
}